In [27]:
pip install mysql-connector-python==8.3.0

Requirement already satisfied: mysql-connector-python==8.3.0 in c:\users\rahul\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='datascience1234',user='root')

if mydb.is_connected():
   print("Connection Established")

Connection Established

In [29]:
mycursor=mydb.cursor()

In [39]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('classicmodels',)
('college',)
('information_schema',)
('joint',)
('mysql',)
('performance_schema',)
('shop',)
('sods',)
('sys',)
('unacademy1',)
('vehicles',)
('xyz',)
('xyz_company',)

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='datascience1234',user='root')
mycursor=mydb.cursor()
mycursor.execute("create database SODS")

In [40]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='datascience1234',user='root',database='sods')
mycursor=mydb.cursor()
t="CREATE TABLE Book(bookid int(4),title varchar(20),price float(5,2))"
mycursor.execute(t)

In [41]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
mycursor.execute("show tables")
for db in mycursor:
    print(db)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'Python2',350)
mycursor.execute(s,r1)
mydb.commit()

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'SQL',550)
mycursor.execute(s,r1)
mydb.commit()

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

In [ ]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="INSERT INTO book(bookid,title,price) VALUES(%s,%s,%s)"  
r1=(1,'ML',450)
mycursor.execute(s,r1)
mydb.commit()

In [22]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

SyntaxError: invalid syntax (3743058626.py, line 8)

In [23]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s= "UPDATE book SET price=price+100 WHERE price=350"
mycursor.execute(s)
mydb.commit()
print(mycursor.rowcount,"Records affected")

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [24]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [25]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="DELETE FROM book WHERE price=450"
mycursor.execute(s)
mydb.commit()

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [26]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root',database='sods')
mycursor=mydb.cursor()
s="SELECT * from book"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)