In [1]:
""" 
numpy 
pandas 
matplotlib
seaborn
scipy
"""

' \nnumpy \npandas \nmatplotlib\nseaborn\nscipy\n'

In [2]:
import pandas as pd
import numpy as np

In [6]:
def add(num1, num2):  
    sum = num1 + num2
    print(sum)
add(5,2)

7

In [5]:
def sub(a,b):
    sub = a - b
    print(sub)
sub(5,2)

3

In [7]:
# range - built in onward 3.1

In [10]:
range(5)

range(0, 5)

In [19]:
for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
# range and index both start from 0
range(5)[3]

3

In [21]:
range(5)[3]

3

In [24]:
range(5)[0]
range(5)[1]
range(5)[2]

2

In [25]:
range(3,10,1)

range(3, 10)

In [26]:
for i in range(3, 10,1):
    print(i)

3
4
5
6
7
8
9

In [36]:
# 10 to 90 even
for i in range(10,90,2):
   print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88

In [42]:
# make a series 4 to 6    step = 0.2

for i in range(4.0,6.0,0.2):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

4.0

TypeError: 'float' object cannot be interpreted as an integer

In [54]:
print(type(range(5)))

<class 'range'>

In [70]:
print(list(range(5)))
print(ord('A'))
print(ord('B'))
print(ord('g'))

[0, 1, 2, 3, 4]
65
66
103

In [79]:
print(ord('g'))


# this order (ord) funtion convert the character into number.

103

In [76]:
def get_alphabets(startletter, stopletter, step):
    for c in range(ord(startletter.lower()), ord(stopletter.lower()), step):
        yield chr(c)

print(list(get_alphabets("a", "h", 1)))

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [2]:


# user defined funtion
# generator function

 # yeild command jb bhi do data structure se kuch big create krna hai then we use yeild command funtion
# yeild mtlb kuch bda bnana

In [11]:
def alphabets(letter1, letter2):
    print(letter1)
    print(letter2)

In [13]:
def alphabet(letter1, letter2):
    for i in range(ord(letter),ord(letter2), step):
        yeild(i)