In [14]:
import pandas as pd
data = pd.DataFrame({"name" : ["rohit", "raj", "shreya", "nikki", "sid"],
                   "math" : [80,90,93,97,99],
                   "science" : [80,90,78,67,60]
                  })
data

     name  math  science
0   rohit    80       80
1     raj    90       90
2  shreya    93       78
3   nikki    97       67
4     sid    99       60

In [20]:
new_grp = data.groupby("name")
new_grp

In [ ]:
for x,

In [11]:
#  agr var ke upr function lgate hai to dot
# agr kisi dataframe ka column lga rhe hai to sq bradcker.

In [68]:
import pandas as pd
df1 = pd.DataFrame({"name" : ["a","b", "c", "d","a","b", "c", "d","a","b", "c", "d"],
                   "math" : [80,90,93,97,99,90,50,30,10,10,10,30],
                   "science" : [80,90,78,67,60,78,98,90,67,67,34,18]
                  })
df1

ValueError: invalid literal for int() with base 10: 'a'

In [69]:
new_grp= df1.groupby("name")
new_grp

In [70]:
for x,y in new_grp:
    print(x)
    print(y)

a
  name  math  science
0    a    80       80
4    a    99       60
8    a    10       67
b
  name  math  science
1    b    90       90
5    b    90       78
9    b    10       67
c
   name  math  science
2     c    93       78
6     c    50       98
10    c    10       34
d
   name  math  science
3     d    97       67
7     d    30       90
11    d    30       18

In [71]:
new_grp.get_group("a")

  name  math  science
0    a    80       80
4    a    99       60
8    a    10       67

In [72]:
new_grp.mean()

           math    science
name
a     63.000000  69.000000
b     63.333333  78.333333
c     51.000000  70.000000
d     52.333333  58.333333

In [73]:
new_grp.median()

      math  science
name
a     80.0     67.0
b     90.0     78.0
c     50.0     78.0
d     30.0     67.0

In [74]:
new_grp.get_group("a").mean()

TypeError: Could not convert ['aaa'] to numeric

In [76]:
new_grp.get_group("a").sum()

name       aaa
math       189
science    207
dtype: object