In [20]:
# series is a component of data frame
import pandas as pd 
dis = {
    "name" :["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"],
       "Score" :[90,80,85,75,95,60,65],
       "Sport" : ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karete", "Surfing"],
       "Sex" : ["M", "M","M", "M", "F","F", "F"]
}

var = pd.DataFrame(dis)
print(var)

      name  Score      Sport Sex
0     Bill     90  Wrestling   M
1      Tom     80   Football   M
2      Tim     85     Skiing   M
3     John     75   Swimming   M
4     Alex     95     Tennis   F
5  Vanessa     60     Karete   F
6     Kate     65    Surfing   F

In [21]:
# change column order
import pandas as pd 
dis = {
    "Sex" : ["M", "M","M", "M", "F","F", "F"],
    "Sport" : ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karete", "Surfing"],
    "Score" :[90,80,85,75,95,60,65],
    "name" :["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"]       
}

var = pd.DataFrame(dis, columns = ["name", "Sex", "Sport", "Score"])

print(var)

      name Sex      Sport  Score
0     Bill   M  Wrestling     90
1      Tom   M   Football     80
2      Tim   M     Skiing     85
3     John   M   Swimming     75
4     Alex   F     Tennis     95
5  Vanessa   F     Karete     60
6     Kate   F    Surfing     65

In [31]:
# add new col = gender
# change column order
import pandas as pd 
dis = {
    "Sex" : ["M", "M","M", "M", "F","F", "F"],
    "sport" : ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karete", "Surfing"],
    "Score" :[90,80,85,75,95,60,65],
    "name" :["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"]       
}

var = pd.DataFrame(dis, columns = ["name", "Sex", "Sport", "Score", "gender"])

print(var)

      name Sex Sport  Score gender
0     Bill   M   NaN     90    NaN
1      Tom   M   NaN     80    NaN
2      Tim   M   NaN     85    NaN
3     John   M   NaN     75    NaN
4     Alex   F   NaN     95    NaN
5  Vanessa   F   NaN     60    NaN
6     Kate   F   NaN     65    NaN

In [38]:
# add new col = gender
# change column order
import pandas as pd 
dis = {
    "Sex" : ["M", "M","M", "M", "F","F", "F"],
    "sport" : ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karete", "Surfing"],
    "Score" :[90,80,85,75,95,60,65],
    "name" :["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"]       
}

df = pd.DataFrame(dis, columns = ["name", "Sex", "Sport", "Score", "gender"])

df['Gender'] = df['Sex'].map({'M':'Male','F':'Female'})
print(df)

      name Sex Sport  Score gender  Gender
0     Bill   M   NaN     90    NaN    Male
1      Tom   M   NaN     80    NaN    Male
2      Tim   M   NaN     85    NaN    Male
3     John   M   NaN     75    NaN    Male
4     Alex   F   NaN     95    NaN  Female
5  Vanessa   F   NaN     60    NaN  Female
6     Kate   F   NaN     65    NaN  Female

In [44]:
import pandas as pd 
dis = {
    "Sex" : ["M", "M","M", "M", "F","F", "F"],
    "sport" : ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karete", "Surfing"],
    "Score" :[90,80,85,75,95,60,65],
    "name" :["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"]       
}

df = pd.DataFrame(dis, columns = ["name", "Sex", "Sport", "Score", "gender"])

df['Num_Gender'] = df['Sex'].map({'M':0,'F':1})
print(df)

df.drop("Sex", axis=1)

print(df)

      name Sex Sport  Score gender  Num_Gender
0     Bill   M   NaN     90    NaN           0
1      Tom   M   NaN     80    NaN           0
2      Tim   M   NaN     85    NaN           0
3     John   M   NaN     75    NaN           0
4     Alex   F   NaN     95    NaN           1
5  Vanessa   F   NaN     60    NaN           1
6     Kate   F   NaN     65    NaN           1

In [53]:
import pandas as pd

dis = {
    "Sex": ["M", "M", "M", "M", "F", "F", "F"],
    "Sport": ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karate", "Surfing"],
    "Score": [90, 80, 85, 75, 95, 60, 65],
    "Name": ["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"]
}

df = pd.DataFrame(dis, columns=["Name", "Sex", "Sport", "Score"])

df['Num_Gender'] = df['Sex'].map({'M': 0, 'F': 1})

print("DataFrame before dropping 'Sex' column:")
print(df)

df = df.drop("Sex", axis=1)

print("\nDataFrame after dropping 'Sex' column:")
print(df)

DataFrame before dropping 'Sex' column:
      Name Sex      Sport  Score  Num_Gender
0     Bill   M  Wrestling     90           0
1      Tom   M   Football     80           0
2      Tim   M     Skiing     85           0
3     John   M   Swimming     75           0
4     Alex   F     Tennis     95           1
5  Vanessa   F     Karate     60           1
6     Kate   F    Surfing     65           1

DataFrame after dropping 'Sex' column:
      Name      Sport  Score  Num_Gender
0     Bill  Wrestling     90           0
1      Tom   Football     80           0
2      Tim     Skiing     85           0
3     John   Swimming     75           0
4     Alex     Tennis     95           1
5  Vanessa     Karate     60           1
6     Kate    Surfing     65           1

In [50]:
import pandas as pd


dis = {
    "Sex": ["M", "M", "M", "M", "F", "F", "F"],
    "sport": ["Wrestling", "Football", "Skiing", "Swimming", "Tennis", "Karete", "Surfing"],
    "Score": [90, 80, 85, 75, 95, 60, 65],
    "name": ["Bill", "Tom", "Tim", "John", "Alex", "Vanessa", "Kate"],
}

df = pd.DataFrame(dis, columns=["name", "Sex", "Sport", "Score", "gender"])

df["Num_Gender"] = df["Sex"].map({"M": 0, "F": 1})

# Drop the 'Sex' column (case-insensitive)
df.drop("Sex", axis=1, inplace=True)

print(df)

      name Sport  Score gender  Num_Gender
0     Bill   NaN     90    NaN           0
1      Tom   NaN     80    NaN           0
2      Tim   NaN     85    NaN           0
3     John   NaN     75    NaN           0
4     Alex   NaN     95    NaN           1
5  Vanessa   NaN     60    NaN           1
6     Kate   NaN     65    NaN           1