In [2]:
# variables
# local variable vs global variable

"""data types 
built in 
Built-in Python Data types are:
Numeric
Text Type
Sequence Type (Python list, Python tuple, Python range)
Boolean
Set
Dictionary
"""

"""Python Data Types
Python programming, data types are classes and variables are
instances (objects) of these classes. The following are the standard
or built-in data types in Python:

Numeric
Sequence Type
Boolean
Set
Dictionary
Binary Types( memoryview, bytearray, bytes)

<class 'bool'>

In [3]:
a = 3
print(type(a))

<class 'int'>

In [5]:
print(type(True))

<class 'bool'>

In [6]:
# note 
# built in data types and user define data types.

In [9]:
# strings
# accessing values of strings
a = "abcdef"
print(a[1])

b

In [11]:
# negative indexing
print(a[-1])

f

In [12]:
# list, tuple, set, dictionary.
# accessing values see in my notes

In [13]:
l = [1,2,3,4]
print(l[1])

2

In [14]:
tup = (1,2,3,4)
print(tup[1])

2

In [16]:
s = {1,2,3,4}
print(s[1])
# set in unordered collection of items. so we can't indexing its elements.

TypeError: 'set' object is not subscriptable

In [30]:
# dictionary = key pair values

dic = {"car":"ford", "language": "python"}
# print(dic)
# print(type(dic))
print(dic["car"])
print(dic["language"])

ford
python

dict_values(['ford', 'python'])

In [33]:
k = dic.keys()
k

dict_keys(['car', 'language'])

In [34]:
v = dic.values()
v

dict_values(['ford', 'python'])

In [49]:
# questions
fruits = ["apple", "mango"]
# print(fruits)
fruits.append("banana")
print(fruits)
fruits.remove("apple")
print(fruits)

['apple', 'mango', 'banana']
['mango', 'banana']

In [48]:
# fruits.pop()
# print(fruits)

In [51]:
# # python operators pg 25
# Python Operators
# Operators are used to perform operations on variables and values.
# In the example below, we use the + operator to add together two values:
# Example 
# print(10 + 5)
# Python divides the operators in the following groups:
# Arithmetic operators =, -=, +=s
# Assignment operators
# Comparison operators
# # Logical operators
# Identity operators
# Membership operators
# Bitwise operators

In [52]:
# operator precedence

In [58]:
# write a program to filter even and odd number from list.
l = [1,2,3,4,5,6,7]
for i in l:
    if i%2==0:
        print(f"even numbers {i}")
    elif i%2!=0:
        print(f"odd numbers {i}")

odd numbers 1
even numbers 2
odd numbers 3
even numbers 4
odd numbers 5
even numbers 6
odd numbers 7

In [64]:
even = []
odd = []
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
    if i%2==0:
        even.append(i)
    elif i%2!=0:
        odd.append(i)

print(f"even: {even}")
print(f"odd:  {odd}")

even: [2, 4, 6, 8, 10]
odd:  [1, 3, 5, 7, 9]

In [79]:
l1 = [1,2,3,4]
l1.insert(2,10) # 2nd index pe 10 insert
print(l1)

[1, 2, 10, 3, 4]

In [88]:
# sum of list elements
l2 = [1,2,3,4]
sum = 0
for i in l2:
    sum = sum + i
print(sum)

10

In [90]:
# sum of even numbers

l3 = [1,2,3,4,5,6]
sum = 0
for i in l3:
    if i %2==0:
        sum = sum + i

print(f"sum of even numbers: {sum}")

sum of even numbers: 12

In [93]:
# print the table of any number using loop
# method 1
for i in range(1,11):
    print(3*i)

3
6
9
12
15
18
21
24
27
30

In [99]:
# method 2
for i in range(1,11):
    print("3","x",i, "=", (3*i))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [101]:
a = 1
b = 2
c = 3
if a >

In [ ]:
# recursion