In [1]:
# when we have n no. of parameters then use
# *args
# **kwargs

In [2]:
def hello(*args,**kwargs):
    print(args)
    print(type(args))
    print(kwargs)
    print(type(kwargs))

# calling the function
hello("Amit" ,"Sharma",subject="AI",Institute= "AAFT")

('Amit', 'Sharma')
<class 'tuple'>
{'subject': 'AI', 'Institute': 'AAFT'}
<class 'dict'>

In [8]:
# question
# calculate the product of price and quantity.

In [16]:
def calculate_total(price,quantity=1): quant is default
    print(price*quantity)
calculate_total(1)

1

In [17]:
def calculate_total(price,quantity=1):
    print(price*quantity)
calculate_total(2,50)

100

In [24]:
# find average 
def avg(*args):
    return sum(args) / len(args)
avg(2,3,4,5)

3.5

In [46]:
# question- keyword and positional arguments.

def calc(operation,*args):
    if operation == "add":
        return sum(args)
    elif operation == "subtract":
        result == args[0]
        for num in args[1]:
            result -= num
        return result
    elif operation == "multiply":
        result = 1
        for num in args:
            result *= num
        return result
    elif operation == "divide":
        result == args[0]
        for num in args[1]:
            result /= num
        return result

calc("add",2,3,4)

9

In [47]:
# question- keyword and positional arguments.

def calc(operation,*args):
    if operation == "add":
        return sum(args)
    elif operation == "subtract":
        result == args[0]
        for num in args[1]:
            result -= num
        return result
    elif operation == "multiply":
        result = 1
        for num in args:
            result *= num
        return result
    elif operation == "divide":
        result == args[0]
        for num in args[1]:
            result /= num
        return result

calc("multiply",2,3,4)

24

In [50]:
# function library info that takes in a person name (position argument), ther age (keyword argument) and andy additioanl information

In [51]:
name : age
age

NameError: name 'age' is not defined