In [1]:
import sqlite3

In [2]:
# create a connection to the SQLLite DB
conn = sqlite3.connect('test.db')

In [4]:
# Create a cursor object to execute SQL Commands
cursor = conn.cursor()

In [5]:
# Create a table
cursor.execute(
"""
CREATE TABLE IF NOT EXISTS employees (
id INTEGERE PRIMARY KEY,
NAME TEXT NOT NULL,
age INTEGER,
department TEXT
)
"""
)

In [6]:
# Insert data into table
cursor.execute(
    "INSERT INTO employees (name, age, department) VALUES (?, ?, ?)",
    ('John Deo', 30, 'Sales')

)

In [9]:
# Retrive data
cursor.execute("SELECT * FROM employees")

In [10]:
rows = cursor.fetchall()
rows

[(None, 'John Deo', 30, 'Sales')]

In [12]:
# save data
conn.commit()

In [13]:
conn.close()

In [14]:
# how to drop database

In [16]:
import sqlite3
import os

# Connect to the database
conn = sqlite3.connect('test.db')

# Close the connection
conn.close()

# Path to the database file
db_path = 'test.db'

# Delete the database file
if os.path.exists(db_path):
    os.remove(db_path)
    print(f"{db_path} has been deleted.")
else:
    print(f"{db_path} does not exist.")

test.db has been deleted.

In [18]:
conn.execute("show databases")

ProgrammingError: Cannot operate on a closed database.